@charset "utf-8";

table {
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

tbody td {
    background-color: lightyellow;
}

table col#firstCol {
    background-color: rgb(104, 172, 211);
    width: 150px;
}

table col#hourCol {
    width: 75px;
}

table thead {
    background-color: rgba(17, 159, 184, 0.527);
}

.columns {
    column-count: 3;
    column-gap: 150px;
    column-rule: 5px;
}

.columns h2 {
    column-span: all;
}

html {
    width: 100%;
}

body {
    width: 90%;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}