@charset "utf-8";

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

td {
    background-color: bisque;
}

table col#firstCol {
    width: 150px;
}

table col#hourCol {
    width: 75px;
}

table thead {
    background-color: rgb(43, 220, 255);
}

html {
    width: 100%;
}

body {
    width: 90%;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}