html {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: rgb(50, 132, 255);
}

tbody, td, th {
    border: 1px solid black;
}

table, td, tr, th {
    padding: 5px;
    border-collapse: collapse;
}